//fonts
$font-accent: 'GamestationExtended';
$font-main: "Inter", sans-serif;

//colors
$main: #FAFAF9;
$accent: #EC1C24;
$gradient: linear-gradient(90.00deg, rgb(229, 45, 39),rgb(179, 18, 23) 100%);;

